spring:
  thymeleaf:
    cache: false
  datasource:
    driver-class-name: com.mysql.jdbc.Driver
    username: root
    password: 123456
    url: jdbc:mysql://192.168.0.119/db_file?characterEncoding=utf-8&useSSL=false
  jpa:
    show-sql: true
security:
  basic:
    enabled: false
management:
  security:
    enabled: false

server:
  context-path: /filemanager